# MFML - Final Project

### Feature importance via wavelet decomposition of RF - Reproduce the feature importance results of [1]

1. Provide summary of the wavelet-based method with emphasis on the use of the validation set to
determine a threshold for wavelet norms.
1. Test on regression & classification problems (multi-class problems).
1. Compare extensively with standard methods as in [1]. 

#### We will use the following data sets (suggestions):

   - Classification
       - "Red Wine Quality" as in [1]
       - ["Human Activity Recognition Using Smartphones Data Set "](https://archive.ics.uci.edu/ml/datasets/human+activity+recognition+using+smartphones)
           - Nice dataset + I have some experience with it [link](https://github.com/AvivNavon/HAR/blob/master/HAR_Notebook.ipynb), but there are 561 features, so maybe it will be hard for the wavelet decomposition code to run.
       - ["Abalone Data Set"](https://archive.ics.uci.edu/ml/datasets/Abalone)
       - ["Seeds"](https://archive.ics.uci.edu/ml/datasets/seeds)
       - [Vertebral Column](https://archive.ics.uci.edu/ml/datasets/Vertebral+Column)
   - Regression
       - ["Titanic"](https://www.kaggle.com/c/titanic/data) 
           - small data set so should be quick, but mechaamem and not multi-class.
       - [Some more boring stuff](https://archive.ics.uci.edu/ml/datasets.html?format=&task=reg&att=&area=&numAtt=less10&numIns=100to1000&type=&sort=nameUp&view=list)
       
#### Algs:

   - RF
   - LightGBM
   - XGBoost
   - ...
   
#### Some other things to look at

   - [Shap](https://github.com/slundberg/shap)
   
   
### Navigation

1. [Seeds](Seeds) 
1. []()

#### References
    
[[1]](http://www.jmlr.org/papers/volume17/15-203/15-203.pdf)  O. Elisha and S. Dekel, Wavelet decompositions of Random Forests - smoothness analysis, sparse
approximation and applications, JMLR 17 (2016).

In [23]:
# Ignore warnings# Ignor 
import warnings
warnings.filterwarnings("ignore")

In [24]:
import pandas as pd
import numpy as np
from plotnine import *

## Seeds

[Top](#MFML---Final-Project)

In [27]:
seeds_dada = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00236/seeds_dataset.txt", 
            error_bad_lines = False,
            header = None,
            sep = "\t")
seeds_dada.columns = ['a', 'b', 'c', 'd', 'e', 'f' ,'g', 'h']
print(seeds_dada.shape)
seeds_dada.head()

(199, 8)

b'Skipping line 8: expected 8 fields, saw 10\nSkipping line 36: expected 8 fields, saw 10\nSkipping line 61: expected 8 fields, saw 9\nSkipping line 69: expected 8 fields, saw 9\nSkipping line 107: expected 8 fields, saw 9\nSkipping line 136: expected 8 fields, saw 9\nSkipping line 170: expected 8 fields, saw 9\nSkipping line 171: expected 8 fields, saw 9\nSkipping line 173: expected 8 fields, saw 9\nSkipping line 202: expected 8 fields, saw 9\nSkipping line 204: expected 8 fields, saw 9\n'

       a      b       c      d      e      f      g  h
0  15.26  14.84  0.8710  5.763  3.312  2.221  5.220  1
1  14.88  14.57  0.8811  5.554  3.333  1.018  4.956  1
2  14.29  14.09  0.9050  5.291  3.337  2.699  4.825  1
3  13.84  13.94  0.8955  5.324  3.379  2.259  4.805  1
4  16.14  14.99  0.9034  5.658  3.562  1.355  5.175  1